header {
  width: 100%;
  padding-top: 1.2rem;
  position: absolute;
  z-index: 1;
  background: transparent;
}

header .container-header{
  display: flex;
  align-items: center;
}

.right {
  margin-top: 1.2rem;
  margin-right: 2rem;
}

.menu {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.left, .right ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  margin-right: 1rem;
  cursor: pointer;
}


header .logo {
  color: var(--vermelho);
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 3.5rem;
  letter-spacing: .3rem;
  margin-left: 1rem;
  border-top-left-radius:70%;
  border-top-right-radius:70%;
}

.menu-principal {
  margin-left: 1.8rem;
}

header nav a, li a {
  text-decoration: none;
  color: #fff;
  margin-right: .7rem;
}

header nav a:hover, li a:hover, li i:hover {
  color: #AAA;
  text-decoration: none;
}

@media (max-width: 500px) {
  .right, .left {
    display: none;
  }

  header .logo {
    font-size: 2.5rem;
  }
}