@charset"utf-8";

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #000000;
  color: #ffffff;
  padding-left: 80px;
}

.bx-chevron-right, .bx-chevron-left {
  padding: 0;
  border-radius: 8em;
  font-size: 23px;
  font-weight: 600;
  background: none;
}

.bx-chevron-right:hover, .bx-chevron-left:hover {
  background: none;
}

.owl-prev:hover, .owl-next:hover {
  background: none;
}

.section-indicacoes {
  width: 100%;
  margin: 0 auto;
  z-index: 60;
}

.section-indicacoes .item {
  width: 250px;
  text-align: center;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.section-indicacoes .item i {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  text-align: center;
  background: rgba(255,255,255,0.122);
  backdrop-filter: blur(15px);
  font-size: 12px;
  padding: 5px;
  border-radius: 8em;
  margin-bottom: 10px;
}


.pageSearch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  z-index: 100;
  transform: translateY(100%);
  opacity: 0;
  transition: all .2s ease;
  overflow: hidden;
  overflow-y: scroll;
}

.pageSearch.visible {
  transform: translateY(0);
  opacity: 1;
}

#search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 24px;
}

#search-results .item {
  position: relative;
  width: 250px;
  text-align: center;
  padding: 10px;
}

#search-results .item i {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  text-align: center;
  background: rgba(255,255,255,0.122);
  backdrop-filter: blur(15px);
  font-size: 12px;
  padding: 5px;
  border-radius: 8em;
  margin-bottom: 10px;
}

#search-results .item img {
  width: 100%;
  border-radius: .3em;
}

#search-results .item .giving_play {
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.watchMode {
  padding: 40px;
  margin: 20px;
  background: rgb(40,40,40);
  border-radius: 1.2em;
  opacity: .2;
}

.section-indicacoes .item img {
  border-radius: .3em;
}

.section-indicacoes .item .giving_play {
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

.contentBack {
  padding-top: 7px;
  text-align: left;
  margin-right: 20px;
}

.search-form {
  text-align: center;
  margin-bottom: 20px;
  padding: 30px;
}

.search-form form {
  display: flex;
  flex-direction: row;
}

.search-form input[type="text"] {
  padding: 10px;
  width: 100%;
  background: rgb(41,41,41);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  font-size: 16px;
}

.search-form button[type="submit"] {
  padding-bottom: -6px;
  width: 40px;
  height: 40px;
  background: rgb(41,41,41);
  border: none;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
}

.search-form button[type="submit"] i {
  color: rgb(106,106,106);
  font-size: 16px;
  font-weight: 700;
}

.title {
  display: none;
}

.Highlights_Title {
  display: none;
}

.content_highlights {
  position: relative;
}

#destaques_1 .popularity svg {
  fill: red;
  width: 30px;
  height: auto;
  margin-bottom: -10px;
}

svg.disney {
  fill: #0098ff;
}
svg.netflix {
  fill: red;
}
svg.hbo {
  fill: #5800ff;
}
svg.fox {
  fill: #ffffff;
}

#next_1 {
  position: absolute;
  bottom: -40px;
  z-index: 82;
  background: none;
  border: none;
  border-radius: 8em;
  padding: 10px;
  color: #ffffff;
  right: 30px;
}

#prev_1 {
  position: absolute;
  bottom: -40px;
  z-index: 82;
  background: none;
  border: none;
  border-radius: 8em;
  padding: 10px;
  color: #ffffff;
  left: 30px;
}

#next {
  position: absolute;
  bottom: 30px;
  z-index: 82;
  background: #000000;
  border: none;
  border-radius: 8em;
  padding: 10px;
  color: #ffffff;
  right: 30px;
}

.titleSection {
  margin: 20px 30px 20px 20px;
  border-left: 2px solid red;
  padding-left: 20px;
}

main header {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 10px 30px 10px 30px;
  position: absolute;
  top: 0;
  width: calc(100% - 60px);
  z-index: 90;
  background: none;
}

main header.sticky {
  background: none;
}

main header div {
  color: #ffffff;
}

main header div, span {
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-top: 17px;
  font-weight: 400;
  font-size: 1rem;
}

main header div, span:first-child {
  width: 100%;
  text-align: left;
  align-content: center;
  justify-content: center;
  padding-top: 0;
  font-weight: 700;
  font-size: 20px;
}

main header div, span:nth-child(2) {
  margin-right: 20px;
}

main header img {
  width: 50px;
  height: 50px;
  margin-left: 0;
}

.nav_mobile {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 99;
  padding: 10px;
  width: 70px;
  height: 100vh;
  justify-content: top;
  align-content: center;
  background: linear-gradient(to right,rgb(0,0,0), rgba(0,0,0,0));
  /*
  webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);*/
}

.nav_mobile .content_button i {
  text-align: center;
  font-size: 1.3rem;
}

.nav_mobile .content_button {
  text-align: center;
  padding: 20px;
  border-radius: 1.2em;
  opacity: .5;
  margin-top: 40px;
}

.nav_mobile .content_button {
  opacity: 1;
  padding: 5px;
  border-radius: 1.2em;
  background: transparent;
}

.nav_mobile .content_button.active {
  padding: 10px;
  background: #ffffff0d;
}

.nav_mobile .content_button.active div {
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 8em;
  margin: auto;
}

.nav_mobile .content_button svg {
  opacity: .7;
}

.nav_mobile .content_button.active svg {
  opacity: 1;
}

.nav_mobile .content_button.active svg g {
  fill: #ffffff;
}

.nav_mobile .content_button.active svg path:nth-child(2) {
  fill: rgb(37,37,37);
  stroke: rgb(37,37,37);
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  height: 100%;
  display: none;
}

.gradient {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,0.039);
  webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(8px);
  display: none;
}

.is-down {
  transform: translateY(-100px);
  opacity: 0;
  transition: .5s ease;
}

.is-up {
  transform: translateY(0);
  opacity: 1;
}

@media(max-width: 780px) {

  body {
    padding: 0;
  }

  .section-indicacoes .item {
    width: 150px;
    text-align: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
  }

  #search-results .item {
    position: relative;
    width: 150px;
    text-align: center;
    padding: 10px;
  }

  #search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 24px;
  }

  main header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px 30px 10px 30px;
    position: absolute;
    top: 0;
    width: calc(100% - 60px);
    z-index: 90;
    background: none;
  }


  .nav_mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    display: flex;
    flex-direction: row;
    z-index: 99;
    padding: 10px;
    width: calc(100% - 20px);
    justify-content: center;
    align-content: center;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(7.5px );
    -webkit-backdrop-filter: blur(7.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 56px;
  }

  .nav_mobile .op-search {
    display: block;
  }

  .nav_mobile .content_button i {
    text-align: center;
    font-size: 1.3rem;
  }

  .nav_mobile .content_button {
    opacity: 1;
    padding: 10px;
    border-radius: 1.2em;
    background: transparent;
    margin-top: 0;
    width: 100%;
  }

  .nav_mobile .content_button.active {
    padding: 10px;
    background: #ffffff0d;
  }

  .nav_mobile .content_button.active div {
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 8em;
    margin: auto;
  }

  .nav_mobile .content_button.active svg g {
    fill: #ffffff;
  }

  .nav_mobile .content_button.active svg path:nth-child(2) {
    fill: rgb(37,37,37);
    stroke: rgb(37,37,37);
  }


  .title {
    margin: 110px 0 0 20px;
    font-size: 1rem;
    opacity: .7;
  }

  .Highlights_Title {
    margin: 5px 0 0 20px;
    font-size: 1.5rem;
    border-left: 2px solid red;
    padding-left: 20px;
  }


  #destaques {
    width: 100%;
    height: auto;
    padding: 0px 0 20px 0;
    z-index: -1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: all .5s ease;
    margin: 130px 0 40px 0;
  }

  #destaques .item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.264);
    z-index: -1;
  }

  #destaques .item:nth-child(1) {
    margin-left: 5%;
  }

  #destaques .item {
    margin-top: 0;
    margin-left: 0;
    flex-shrink: 0;
    width: 80%;
    height: 140px;
    text-align: left;
    position: relative;
    transition: all 1s ease;
    overflow: hidden;
    margin: 0 5% 0 5%;
    border-radius: 1.2em;
  }

  #destaques .item i {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    text-align: center;
    background: rgba(255,255,255,0.122);
    backdrop-filter: blur(15px);
    font-size: 12px;
    padding: 5px;
    border-radius: 8em;
    margin-bottom: 10px;
  }

  #destaques .item img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #destaques .item .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #destaques .item .date {
    position: absolute;
    top: 25px;
    left: 50px;
    margin: 10px 0 10px 0;
    font-size: 12px;
    text-align: left;
  }

  #destaques .item h3 {
    position: absolute;
    top: 65px;
    left: 0;
    padding: 0 30px 0 30px;
    font-size: 1.3rem;
  }

  #destaques .item .logo {
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0 30px 0 30px;
    width: 100px;
  }

  #destaques .item .description {
    padding: 0 20px 10px 20px;
    display: none;
  }

  #destaques .item .popularity {
    z-index: 80;
    color: #ffffff;
    font-weight: 600;
    width: 80px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    background: rgb(7,0,30);
    display: none;
  }

  #destaques .item .play {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 80;
    background: linear-gradient(25deg, rgba(229,0,12,0.443), rgba(0,2,248,0.443));
    webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    opacity: 0;
  }

  #destaques_1 {
    width: 100%;
    height: auto;
    padding: 0px 0 20px 0;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: all .5s ease;
    position: relative;
  }

  #destaques_1 .item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,rgb(0,0,0), rgba(0,0,0,0.484));
    z-index: -1;
  }


  #destaques_1 .item:nth-child(1) {
    margin-left: 0;
  }

  #destaques_1 .item {
    margin: 0;
    flex-shrink: 0;
    width: 100%;
    height: 480px;
    text-align: left;
    position: relative;
    transition: all 1s ease;
    overflow: hidden;
  }

  #destaques_1 .item img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #destaques_1 .item i {
    width: 60px;
    text-align: center;
    background: red;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  #destaques_1 .item .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #destaques_1 .item .date {
    font-size: 12px;
    margin: 0 10px 0 30px;
  }

  #destaques_1 .item h3 {
    padding: 0 30px 20px 30px;
    font-size: 1.7rem;
    margin: 150px 0 0 0;
  }

  #destaques_1 .item .description {
    padding: 0 30px 10px 30px;
    font-size: 14px;
  }

  #destaques_1 .item .popularity {
    z-index: 80;
    color: #ffffff;
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    background: none;
  }

  #destaques_1 .item .play {
    z-index: 90;
    color: #ffffff;
    font-weight: 600;
    width: 80px;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 8em;
    margin: 5px 5px 5px 30px;
    background: red;
  }

  #destaques_2 {
    display: none;
  }

  .view_content {
    margin-top: 30px;
    padding-bottom: 100px;
    height: 100%;
    overflow: auto;
    overflow-y: auto;
  }


  .owl-carousel.hidden {
    opacity: 0;
  }

  .owl-carousel.visible {
    opacity: 1;
  }

}
@media(min-width: 781px) {


  .content_highlights #next_1,
  .content_highlights #prev_1 {
    display: none;
  }
  .content_highlights #next {
    display: none;
  }

  #destaques {
    display: none;
  }

  #destaques_1 {
    display: none;
  }


  #destaques_2 {
    width: 100%;
    height: auto;
    padding: 0px 0 20px 0;
    z-index: -1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    overflow: hidden;
    scroll-behavior: smooth;
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
  }

  #destaques_2 .item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,rgb(0,0,0), rgba(0,0,0,0.484));
    z-index: -1;
  }


  #destaques_2 .item:nth-child(1) {
    margin-left: 0;
  }

  #destaques_2 .item {
    margin: 0;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    text-align: left;
    position: relative;
    transition: all 1s ease;
    overflow: hidden;
  }

  #destaques_2 .item img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #destaques_2 .item i {
    width: 60px;
    text-align: center;
    background: red;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  #destaques_2 .item .info {
    position: absolute;
    bottom: 0;
    left: 80px;
    width: 100%;
    height: 100%;
  }

  #destaques_2 .item .date {
    font-size: 13px;
    margin: 0 10px 0 30px;
  }

  #destaques_2 .item h3 {
    padding: 0 30px 20px 30px;
    font-size: 1.7rem;
    margin: 130px 0 0 0;
    max-width: 360px;
  }

  #destaques_2 .item .description {
    padding: 0 30px 10px 30px;
    font-size: 14px;
    max-width: 360px;
  }

  #destaques_2 .item .popularity {
    z-index: 80;
    color: rgb(8,255,8);
    font-weight: 600;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin: 5px 5px 5px 20px;
    background: none;
  }


  #destaques_2 .item .play {
    z-index: 80;
    color: #ffffff;
    font-weight: 600;
    width: 80px;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 8em;
    margin: 5px 5px 5px 30px;
    background: red;
  }

  #destaques_2 .item .addList {
    z-index: 80;
    color: #ffffff;
    font-weight: 600;
    min-width: 150px;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 8em;
    margin: 5px 5px 5px 30px;
    background: rgba(255,255,255,0.089);
  }

  .view_content {
   
  }


  .owl-carousel.hidden {
    opacity: 0;
  }

  .owl-carousel.visible {
    opacity: 1;
  }
}


  .loading {
    width: 100%;
    height: 100vh;
    background: #000000;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    overflow: hidden;
  }
  
  .loading.active {
    display: none;
  }

  .spinner {
    position: absolute;
    bottom: 40%;
    left: 40%;
    right: 40%;
    display: flex;
  }

  .spinner div {
    width: 10px;
    height: 10px;
    background: #ffffff;
    margin: 5px;
    border-radius: 8em;
    overflow: hidden;
  }

  .spinner div:nth-child(1) {
    animation: boll1 2s infinite;
  }
  .spinner div:nth-child(2) {
    animation: boll2 2s infinite;
  }
  .spinner div:nth-child(3) {
    animation: boll3 2s infinite;
  }
  
  .spinner.active {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100vh;
  }
  
  .spinner.active div {
    visibility: hidden;
  }
  
  .spinner.active div:nth-child(1) {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    animation: none;
    border-radius: 0;
    margin: 0;
    background: #000000;
    visibility: visible;
  } 
  
  .spinner h1 {
    position: absolute;
    top: 40%;
    left: auto;
    right: 45%;
    color: red;
    overflow: hidden;
    width: 2rem;
    height: 3.5rem;
    transition: 3s ease;
    transition-delay: 1s;
    z-index: 100;
    font-size: 3rem;
  }
  
  .spinner.active h1 {
    right: 25%;
    width: calc(1.3rem*8 + 0.2rem);
  }
  

@keyframes boll1 {
    0% {
      transform: scale(0);
      opacity: .2;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
@keyframes boll2 {
    20% {
      transform: scale(0);
      opacity: .2;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
@keyframes boll3 {
    40% {
      transform: scale(0);
      opacity: .2;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }